.description {
    color: blue;
}

.header {
    text-align: center;
}



footer {
    text-align: center;
    font-style: italic; 
}

div.navigation {
    text-align:center;
    
}

div.navigation a {
    padding:0 75px 0 75px;
    text-decoration: none;
}

a:visited {
    color:purple;
}

.homeLink:hover{
    font-weight:bold;
}
.menuLink:hover{
    font-weight:bold;
}
.contactLink:hover{
    font-weight:bold;
}

body {
    width:1000px;
    margin: 0 auto;
    
}

.backpage {
    background-color:#e0e0cc;
}